<div class="form-inline issue_templates">
  <p>
    <%= hidden_field_tag("settings[apply_global_template_to_all_projects]", 0, :id => nil).html_safe %>
    <%= check_box_tag 'settings[apply_global_template_to_all_projects]', true, @settings['apply_global_template_to_all_projects'] == "true" %>
    <%= content_tag(:b, l(:label_apply_global_template_to_all_projects))%>
  </p>
  <p>
</div>
