.template {
    background: url(../images/issue_templates.png) no-repeat 3px center;
    padding-top: 3px;
    padding-left: 18px;    
}

#template_help_message {
}

#template_area {
}

.template_help {
    display: block;
    border: solid #BBB 1px;
    background-color: #F0F0F0;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#template_help_content {
    position:relative;
    text-align: left;
    margin-left: 0.5em;
}

#template_help_content p{
    padding-left: 5px;
}

div.template_help div#template_help_hide {
    display:block;
    position:absolute;
    bottom:5px;
    right:10px;
    font-size:smaller;
    background:none;
    color:#000;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;    
}

div.template_help div#template_help_hide:hover {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;    
}

fieldset.issue { 
     padding-top: 5px; 
     padding-bottom: 5px; 
     background-color: #F6F6F6;
     margin-top: 10px; 
     margin-bottom: 10px;
}

div.issue_template {
    margin-left: 100pt;
    border: 0.1pt solid rgb(228, 228, 228);;
    padding: 4pt;
    background-color: white;
}

span.help_content {
     color: #8b0000;
     padding: 6px;
}

#template_status-area .flash_message {
    margin-top: 5pt;
    margin-bottom: 5pt;
    display: block;
    color: #58718a;
    font-style: italic;
    padding-left: 20px;
    background: #FFEBC1 url(../images/lamp.png) no-repeat 3px center;
    color: #A6750C;
    border: solid #FDBF3B 1px;
}

option.inherited {
    background-color: #FCFD8D;
    font-style: oblique;
}

option.global {
    background-color: #FCFD8D;
    color: darkred;
    font-style: oblique;
}

.non_project_tracker
{
    background: url(../images/lamp.png) no-repeat 3px center;
    color: #dd8888;
    font-style: italic;
    font-weight: lighter;
    padding-top: 3px;
    padding-left: 20px;
}

.template_tracker
{
    background: url(../images/ticket.png) no-repeat 3px center;
    padding-top: 3px;
    padding-left: 18px;
}

.template_box {
padding: 6px;
    margin-bottom: 10px;
    color: rgb(80, 80, 80);
    line-height: 1.5em;
    border: 1px solid rgb(228, 228, 228);
}

.icon-erase { background-image: url(../images/eraser.png); }

#admin-menu a.redmine-issue-templates {
    background-image: url(../images/issue_templates.png);
}

a.template_tooltip  {
    background: url(../images/preview.png) no-repeat 3px center;
    padding-top: 3px;
    padding-left: 24px;
}