#template_area a {
    display: inline-block;
    margin-right: .85em;
}

#template_help_content {
    position: relative;
    text-align: left;
    margin-left: .5em;
}

#template_help_content p {
    padding-left: 5px;
}

fieldset.issue {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F6F6F6;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.issue_template {
    margin-left: 100pt;
    border: .1pt solid #E4E4E4;
    padding: 4pt;
    background-color: white;
}

.issue_template.help_content {
    color: #8b0000;
    padding: 6px;
}

#template_status-area .flash_message {
    position: fixed;
    bottom: 0;
    right: 10px;
    margin-left: 10px;
    margin-top: 5pt;
    margin-bottom: 12pt;
    display: block;
    font-style: italic;
    padding: 8px 10px 8px 20px;
    color: #31708f;
    background: #eaf5fb url("../images/lamp.png") no-repeat 3px center;
    border: solid #a7e4fd 1px;
}

option.inherited {
    background-color: #FCFD8D;
    font-style: oblique;
}

option.global {
    background-color: #FCFD8D;
    color: darkred;
    font-style: oblique;
}

.non_project_tracker {
    background: url("../images/lamp.png") no-repeat 3px center;
    color: #dd8888;
    font-style: italic;
    font-weight: lighter;
    padding-top: 3px;
    padding-left: 20px;
}

.template_tracker {
    background: url("../images/ticket.png") no-repeat 3px center;
    padding-top: 3px;
    padding-left: 18px;
}

.template_box {
    padding: 6px;
    margin-bottom: 10px;
    color: #505050;
    line-height: 1.5em;
    border: 1px solid #E4E4E4;
}

.icon-erase {
    background-image: url("../images/eraser.png");
}

.icon-global_issue_templates {
    background-image: url("../images/issue_templates.png");
}

.icon-template {
    background: url("../images/issue_templates.png") no-repeat 3px center;
}

.icon-hint {
    background: url("../images/ticket.png") no-repeat 3px center;
}

a.template_tooltip {
    background-image: url("../images/preview.png");
    background-repeat: no-repeat;
    padding-left: 20px;
}

#issue_template-form textarea {
    overflow: auto;
}

.box-white {
    background-color: white;
}

/*--- Tooltip: Use to display template description -----*/

.template_tooltip_wrapper {
    color: #555;
    display: inline-block;
}

/* Hide tooltip body */

.template_tooltip_wrapper .template_tooltip_body {
    display: none;
}

/* Mouse over action */

.template_tooltip_wrapper:hover {
    position: relative;
    color: #333;
}

/* tooltip body */

.template_tooltip_wrapper:hover .template_tooltip_body {
    text-align: left;
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 90%;
    background-color: #ffffff;
    min-width: 300px;
    padding: 8px 10px 12px;
    border: 1px solid #CCCCCC;
    z-index: 20000;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.template_tooltip_wrapper:hover .template_tooltip_body .title {
    color: #979797;
    padding-bottom: 10px;
    font-weight: bold;
    display: inline-block;
    font-style: italic;
}

table.list {
    overflow: overlay;
    border: 2px solid #e4e4e4;
}

table.list.template_list {
    width: 480px;
    margin: 8px 0;
    border: 2px solid #e4e4e4;
    overflow: overlay;
}

td.template_title {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list.template_list th {
    text-align: left;
}

.list.template_list td {
    text-align: left;
    padding: 5px;
}

.overflow_dialog {
    overflow: visible;
    width: auto;
}

.filtered_templates_list {
    padding-top: 10px;
}

select.issue_template {
    width: 240px;
}

.issue_template.icon.settings {
    background: url("../images/lamp.png") no-repeat 3px center;
}

.issue_template.icon.plugins {
    background: url("../../../images/plugin.png") no-repeat 3px center;
}

.contextual.issue_templates {
    margin-bottom: 5px;
}

#revert_template {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#revert_template:not(.disabled):hover {
    -webkit-animation: scale .4s ease-in-out;
    animation: scale .4s ease-in-out;
}

@-webkit-keyframes scale {
    50% {
        -webkit-transform: scale(1.04);
    }
}

@keyframes scale {
    50% {
        transform: scale(1.04);
    }
}

#revert_template.disabled {
    filter: alpha(opacity=20);
    -moz-opacity: .2;
    opacity: .2;
}

a.icon.icon-del[disabled=disabled] {
    opacity: .5;
}

/*------------ for responsive -----------------*/

@media (max-width: 899px) {
    #orphaned_templates>table>thead>tr>th.hideable {
        display: none;
    }
    #orphaned_templates>table>tbody>tr>td.hideable {
        display: none;
    }
    #content>div.template_box>table>thead>tr>th.hideable {
        display: none;
    }
    #content>div.template_box>table>tbody>tr>td.hideable {
        display: none;
    }
}

/*---- help tooltip --*/
a.icon-help {
    cursor: help;
}

a.icon-help .tooltip-area {
    display: none;
    position: absolute;
    width: 300px;
    margin-left: 8px;
    padding: 8px;
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    line-height: 1.6;
}

a.icon-help:hover .tooltip-area {
    display: inline;
}

#template-help-wiki > p {
    padding-left: 5px;
}

/*--------- Note for Template ------------*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  color: #333;
  background-color: #c6d9ec;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  /* font-size: 30px; */
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height:50%;
  overflow: auto;
}

#note_template_memo {
  width: 50%;
}

div.template_link_area {
  margin-right: 10px;
  border: rgb(202, 200, 197);
  border-width: 1px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.template_link_area label {
  font-weight: bold;
}
