<% if authorize_for('issue_templates', 'show') %>
<h3><%= l(:issue_template) %></h3>
<ul>
  <li>
    <%= link_to(l(:label_list_templates),
    controller: 'issue_templates',
    action: 'index',
    project_id: @project) %>
  </li>
  <li>
    <%= link_to_if_authorized(l(:label_new_templates),
    { controller: 'issue_templates', action: 'new', project_id: @project }) %>
  </li>
</ul>
<%- end -%>
