<% if grouped_options.length == 0 %>
  <script type="text/javascript">
    $('#template_area').toggle();
  </script>
<% end %>
<option value="">---</option>
<%= grouped_options_for_select(grouped_options, default_template) %>

<% if is_triggered_by_status.blank? || (is_triggered_by_status.present? && is_triggered_by_status == 'false') %>
    <script type="text/javascript">
      //<![CDATA[
      load_url = '<%= url_for(controller: 'issue_templates', action: 'load', project_id: @project) %>';
      should_replaced = '<%= should_replaced %>';
      confirm_msg = "<%= l(:defaulf_template_loaded, tracker: @tracker.name) %>";
      load_template(load_url, confirm_msg, should_replaced);
    </script>
<% end %>
